footer {
background-color: #F5F5DC;
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 0%;
    align-items: center;
}

#copyright {
    color: #1d1d1d;
    font-weight: 500;
}

@media screen and (max-width: 1170px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}
